extends ../layouts/app

block content
    #gallery.ppage
        include head
        .item
            .desc
                button.title(
                    data-toggle="popover"
                    data-placement="bottom"
                    data-trigger="focus"
                    data-content= gallery[0].tGalleryText)= gallery[0].sGalleryTitle

                h1= gallery[0].sGalleryTitle
                div= gallery[0].tGalleryText
            .zoom
                if gallery[0].gallery_images[0]
                    img(src="/images/gallery/" + gallery[0].gallery_images[0].sGalleryImageName, alt="")
            .images
                ul
                    each image in gallery[0].gallery_images
                        li
                            img(src="/images/gallery/" + image.sGalleryImageName, alt="")
            .pagg
                .pagg_bg
                    .pagg_list
                        each item, index in gallery_list
                            a(class={active: item.iGalleryID == gallery[0].iGalleryID }, href="/gallery/" + item.gallery_group.sGalleryGroupUri + '/' + item.iGalleryID)
                                span.num= (index+1)
                                span.titleDot= item.sGalleryTitleMin
