doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, shrink-to-fit=no")
        meta(name="format-detection", content="telephone=no")
        meta(name="yandex-verification" content="e875e54a1150ded5")
        title= title
        meta(name="description" content= description)
        link(rel="shortcut icon" href="/images/favicon.png")
        link(rel="stylesheet", href='/common.legacy.' + env.BUILD_HASH + '.css')
        link(rel="stylesheet", href='/legacy.' + env.BUILD_HASH + '.css')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap&subset=cyrillic")
        block head
    body
        include ../include/top.pug
        include ../include/modal-compare.pug

        block content
        .modal#wiki_catalog_modal(tabindex="-1", role="dialog")
            .modal-dialog(role="document")
                .modal-content
                    ul
                        li
                            a(href="/wiki") Словать оконных терминов
                        li
                            a(href="/wiki") Сравнительные характеристики профилей
                        li
                            a(href="/wiki") Монтаж
                        li
                            a(href="/wiki") История
                        li
                            a(href="/wiki") Фурнитура
                        li
                            a(href="/wiki") Балконы
                        li
                            a(href="/wiki") Профили
                        li
                            a(href="/wiki") Стекло и стеклопакеты
                        li
                            a(href="/wiki") Двери 
        .modal.fade#modal_mobile_contact(tabindex="-1", role="dialog")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    .close-modal(data-dismiss="modal")
                        i.material-icons close
                    .list
                        a.item(href="#" data-toggle="modal" data-target="#zay_modal" data-class="zay_modal_black")
                            img(src="/images/call2.svg", alt="")
                            .title Заказать обратный<br> звонок
                        a.item(href="https://api.whatsapp.com/send?phone=79779390290&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5")
                            img(src="/images/whatsapp.svg", alt="")
                            .title Напишите нам в<br> WhatsApp
                        a.item(href="viber://add?number=79779390290")
                            img(src="/images/social_icons/viber_rgb.svg", alt="")
                            .title Напишите нам в<br> Viber
                        a.item(href="https://telegram.me/79779390290")
                            img(src="/images/telegram.svg", alt="")
                            .title Напишите нам в<br> Telegram
                        a.item.item_5(href="tel:+74993912221")
                            .title Или вы можете перезвонить нам сами по телефону
                                span.lptracker_phone +7 (499) 391-22-21
        .modal.fade#zay_modal(tabindex="-1", role="dialog")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    .close-modal(data-dismiss="modal")
                        i.material-icons close
                    .title Закажите обратный звонок
                    .desc Вам не придется долго ждать звонка, мы сразу вас проконсультируем
                    form.form_contact(action="#" method="POST")
                        input(type="hidden" name="subject" value="Закажите обратный звонок")
                        input(type="hidden" name="metrika" value="zvonok")
                        input(type="hidden" name="page_path" value= page_path)
                        .form-group
                            label Имя
                            input(type="text" name="name" class="form-control" placeholder="Ваше имя *")
                            .invalid-feedback Необходимо указать Ваше имя
                        .form-group
                            label Телефон
                            input(type="text" name="tel" class="form-control" placeholder="Ваш номер телефона *")
                            .invalid-feedback Необходимо указать контактный номер
                        .row
                            label Удобный временной интервал для звонка
                            .col-sm-6.mb-sm-3
                                .form-group
                                    select(name="from" class="form-control")
                                        each val in times
                                            option= val
                            .col-sm-6.mb-sm-3
                                .form-group
                                    select(name="to" class="form-control")
                                        each val in times
                                            option= val
                        button.btn.btn-primary.btn-block.mb-4
                            span Заказать обратный звонок
        .modal#thanks_modal(tabindex="-1", role="dialog")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    .close-modal(data-dismiss="modal")
                        i.material-icons close
                    .title Спасибо!
                    .desc Ваша заявка отправлена
        .modal#calc_wait(tabindex="-1", role="dialog")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    .close-modal(data-dismiss="modal")
                        i.material-icons close
                    //- .title Калькулятор находится в разработке
                    .desc Калькулятор находится в разработке. <br> Воспользуйтесь формой <br> <a href="/calculation">точного расчета</a>.
        .modal#modal_development(tabindex="-1", role="dialog")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    .close-modal(data-dismiss="modal")
                        i.material-icons close
                    .title Раздел не работает
                    .desc К сожалению раздел находится в разработке.
        .modal#modal_video(tabindex="-1", role="dialog")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content
                    .close-modal(data-dismiss="modal")
                        i.material-icons close
                    //- .title Калькулятор находится в разработке
                    #video_vimeo
        .modal#modal_gallery_owl(tabindex="-1", role="dialog")
            .modal-dialog(role="document")
                .modal-content
                    .hamburger.hamburger--spin(data-dismiss="modal" aria-label="Close")
                        .hamburger-box
                            .hamburger-inner
                    .wrap
                        .owl-carousel
        .modal#form_request(tabindex="-1", role="dialog")
            .form-overlay
            form.modal-main
                .modal-title Отправьте ваш макет / эскиз на расчет
                .modal-wrapp
                    .modal-close &times
                    .modal-block_load
                        .modal-block_load-title Добавьте или перетащите файлы
                        .modal-block_load-img
                            //- img(src="/images/index/upload.svg" alt="upload")
                            <svg xmlns="http://www.w3.org/2000/svg" width="89.734" height="67.479" viewBox="0 0 59.734 47.479">
                              <g id="Group_12299" data-name="Group 12299" transform="translate(-608.25 5.921)">
                                <path id="Path_11715" data-name="Path 11715" d="M655.174,10.893a16.282,16.282,0,0,0-32.217-3.122H622.8a13.8,13.8,0,1,0,0,27.6h9.639a1.242,1.242,0,1,0,0-2.484H622.8a11.317,11.317,0,1,1,0-22.634c.332,0,.684.018,1.075.055a1.243,1.243,0,0,0,1.347-1.069,13.8,13.8,0,0,1,27.469,1.88c0,.274-.02.557-.042.856l-.009.127A1.242,1.242,0,0,0,654,13.426a9.909,9.909,0,0,1,.99-.05,9.756,9.756,0,1,1,0,19.512H644.859a1.242,1.242,0,0,0,0,2.484h10.135a12.24,12.24,0,0,0,.18-24.479Z" fill="#fff" stroke="#313131" stroke-width="1.5"/>
                                <path id="Path_11716" data-name="Path 11716" d="M791.091,48.632a1.242,1.242,0,1,0,0-2.484,10.476,10.476,0,0,0-10.341,9.027,1.242,1.242,0,0,0,1.063,1.4,1.259,1.259,0,0,0,.169.012,1.242,1.242,0,0,0,1.229-1.074A7.983,7.983,0,0,1,791.091,48.632Z" transform="translate(-152.205 -45.482)" fill="#fff" stroke="#313131" stroke-width="1.5"/>
                                <path id="Path_11717" data-name="Path 11717" d="M825.656,227.663a1.242,1.242,0,0,0,.828-2.168l-4.517-4.035a2.049,2.049,0,0,0-2.733,0l-4.518,4.036a1.242,1.242,0,1,0,1.655,1.852l2.987-2.668v15.279a1.242,1.242,0,1,0,2.484,0V224.679l2.987,2.669A1.237,1.237,0,0,0,825.656,227.663Z" transform="translate(-181.951 -200.391)" fill="#fff" stroke="#313131" stroke-width="1.5"/>
                              </g>
                            </svg>
                        label.modal-block_load-btn(for="load-input") Загрузить <span>+</span>
                        input.modal-block_load-input#load-input(type="file", name="files", multiple)
                        .modal-block_load-desc Перетащите в это поле файлы или<br> воспользуйтесь ручной<br> загрузкой
                    .modal-block_checkload
                        ul.modal-block_checkload-list
                        button(type="button").modal-block_checkload-more Добавить еще
                        .progress_bar
                            .percent 0%
                        button(type="button").modal-block_checkload-btn Далее
                    .modal-block_form
                        .input-wrapp
                            input#name.modal-block_form-input(type="text", name="name", required)
                            label(for="name") Ваше имя
                        .input-wrapp
                            input#email.modal-block_form-input(type="email", name="email", required)
                            label(for="email") Ваш email
                        .input-wrapp
                            input#phone.modal-block_form-input(type="tel", name="phone", required)
                            label(for="phone") Ваш номер телефона
                        .modal-block_form-buttons
                            button.modal-block_form-back(type="button") Назад
                            button.modal-block_form-submit Отправить
            .modal-progressbar
                .count <span>0</span> %
                .progress-line
                    span.line
            .modal-result
        include ../include/modal-scammers.pug

        input(type="hidden" id="NODE_ENV" value= NODE_ENV)
        
        script(src='/common.legacy.' + env.BUILD_HASH + '.js')
        script(src='/legacy.' + env.BUILD_HASH + '.js')

        block scripts

        if env.NODE_ENV !== 'development'

            script(src="https://www.googletagmanager.com/gtag/js?id=UA-140504195-1" async)
            script.
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-140504195-1');

            script(type="text/javascript").
                (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(21714754, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true });
            noscript
                div
                    img(src="https://mc.yandex.ru/watch/21714754" style="position:absolute; left:-9999px;" alt="")
            script.
                (function(w,d,u){
                    var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                    var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                })(window,document,'https://cdn.bitrix24.ru/b11429196/crm/site_button/loader_3_iuwopd.js');
