
//- group-options
.group-options(data-Module="group-models")
    h3 Производитель и модель
    
    div(data-grid="inner-models-1")
        p.border-round
            label материал
                i.material-icons expand_more
                select(
                    v-if="windows[current_window] && materials"
                    v-model="windows[current_window].material"
                    v-on:change="resetBrand" )
                    option(
                        v-for="(material, index) in materials"
                        v-if="material.brands && material.brands.length"
                        v-bind:value="index") {{ material.title }}
        .grid-col-2
            p
                label производитель
                    i.material-icons expand_more
                    select(
                        v-if="windows[current_window] && materials[windows[current_window].material].brands"
                        v-model="windows[current_window].brand"
                        v-on:change="resetModel" )
                        option(
                            v-for="(brand, index) in materials[windows[current_window].material].brands"
                            v-if="brand.models && brand.models.length"
                            v-bind:value="index" ) {{ brand.title }}
            p
                label модель
                    i.material-icons expand_more
                    select(
                        v-if="windows[current_window] && materials[windows[current_window].material].brands && materials[windows[current_window].material].brands[windows[current_window].brand].models"
                        v-model="windows[current_window].model"
                        v-on:change="resetGlazing" )
                        option(
                            v-for="(model, index) in materials[windows[current_window].material].brands[windows[current_window].brand].models"
                            v-if="model.glazings && model.glazings.length"
                            v-bind:value="index" ) {{ model.title }}
        .grid-col-2
            //- p
                label камерность профиля
                    i.material-icons expand_more
                    select(name="", disabled)
                        option(value="значение") 3-х камерный
                        //- option(value="значение") 3-х камерный
                        //- option(value="значение") 3-х камерный
            //- p
                label монтажная глубина
                    i.material-icons expand_more
                    select(name="", disabled)
                        //- option(value="значение") 20 мм
                        //- option(value="значение") 40 мм
                        option(value="значение") 60 мм
                        //- option(value="значение") 80 мм
                        //- option(value="значение") 100 мм
        p
            label стеклопакет
                    i.material-icons expand_more
                    select(
                        v-if="windows[current_window] && materials[windows[current_window].material].brands && materials[windows[current_window].material].brands[windows[current_window].brand].models && materials[windows[current_window].material].brands[windows[current_window].brand].models[windows[current_window].model].glazings"
                        v-model="windows[current_window].glazing"
                        v-on:change="resetType" )
                        option(
                            v-for="(glazing, index) in materials[windows[current_window].material].brands[windows[current_window].brand].models[windows[current_window].model].glazings"
                            v-bind:value="index" ) {{ glazing.title }}
        .grid-col-2.mt50
            a(href="", role="button", data-El="open-tabs-entry").bg-btn Смотреть подробнее
            a(href="", role="button") Добавить в сравнение

    div(data-Module="tabs-entry")
        i.material-icons(data-El="close-tabs-entry") close
        nav(data-El="navtabs-entry", role='tablist')#nav-tab2.nav.nav-tabs
            a.active(href='#tabcontainer-1', data-toggle='tab', role='tab') Описание
            a(href='#tabcontainer-2', data-toggle='tab', role='tab') Характеристики
        div(data-El="navcontainer-entry")#nav-tabContent2.tab-content
          #tabcontainer-1.tab-pane.fade.show.active(role='tabpanel')
            h4 Описание
            p
                | Отменнное качество по приемлемой цене. Эстетичный профиль с закругленным штапиком.
            p
                |- Монтажная глубина 60 мм; <br>
                |- Трехкамерный профиль; <br>
                |- Сопротивление теплопередаче 0,58 м2×°С/Вт; <br>
                |- Класс профиля «В»; <br>
                |- Звукоизоляция класса «С»; <br>
                |- Защита от холода, осадков и ветра группы «С»; <br>
                |- Фурнитура Roto (Германия).
                
          #tabcontainer-2.tab-pane.fade(role='tabpanel')
            h4 Характеристики
            
            .container-circle
                .c100.p70.small
                    span 70%
                    .slice
                      .bar
                      .fill
                    .text Тишина
                .c100.p75.small
                    span 75%
                    .slice
                      .bar
                      .fill
                    .text Тепло
                .c100.p95.small
                    span 95%
                    .slice
                      .bar
                      .fill
                    .text Дизайн
                .c100.p65.small
                    span 65%
                    .slice
                      .bar
                      .fill
                    .text Цена
            

