
//- group-options
.group-options(data-Module="group-sizes")
    h3 Размер окна
    //- template(v-if="current_window !== null") {{ windows[current_window].collection }}
    //- template(v-if="current_window !== null") {{ currentCollections[windows[current_window].collection] }}
    .grid-col-2(v-if="current_window != null && currentCollections[windows[current_window].collection].window_opening")
        p
            label(for="") ширина окна
            input.edit(
                type="number",
                placeholder="Введите"
                v-model.number="windows[current_window].window_x"
                v-on:change="calc")
            span мм
            input(
                type='range',
                step='1',
                min='450',
                max='1600',
                v-model.number="windows[current_window].window_x"
                v-on:change="calc")
        p
            label(for="") высота окна
            input.edit(
                type="number",
                placeholder="Введите"
                v-model.number="windows[current_window].window_y"
                v-on:change="calc")
            span мм
            input(
                type='range',
                step='1',
                min='500',
                max='2000',
                v-model.number="windows[current_window].window_y"
                v-on:change="calc")
    template(v-if="current_window != null && currentCollections[windows[current_window].collection].window_opening")
        p(v-for="(window_opening_item, index) in currentCollections[windows[current_window].collection].window_opening")
            label открытие створки окна
                i.material-icons expand_more
                select(v-model="windows[current_window].opening.window[index]")
                    option(v-for="(item_opening, index2) in window_opening_item" v-bind:value="index2") {{ item_opening.title }}
    .grid-col-2(v-if="current_window != null && currentCollections[windows[current_window].collection].door_opening")
        p
            label(for="") ширина двери
            input.edit(
                type="number",
                placeholder="Введите"
                v-model.number="windows[current_window].door_x"
                v-on:change="calc")
            span мм
            input(
                type='range',
                step='1',
                min='450',
                max='1600',
                v-model.number="windows[current_window].door_x"
                v-on:change="calc")
        p
            label(for="") высота двери
            input.edit(
                type="number",
                placeholder="Введите"
                v-model.number="windows[current_window].door_y"
                v-on:change="calc")
            span мм
            input(
                type='range',
                step='1',
                min='450',
                max='1600',
                v-model.number="windows[current_window].door_y"
                v-on:change="calc")
    template(v-if="current_window != null && currentCollections[windows[current_window].collection].door_opening")
        p(v-for="(door_opening_item, index) in currentCollections[windows[current_window].collection].door_opening")
            label открытие створки двери
                i.material-icons expand_more
                select(v-model="windows[current_window].opening.door[index]")
                    option(v-for="(item_opening, index2) in door_opening_item" v-bind:value="index2") {{ item_opening.title }}

    //- template(v-if="current_window != null")
    //-     template(v-for="(item, index) in collections[windows[current_window].collection].elements_list")
    //-         template(v-if="index == 'door'")
    //-             template(v-for="(item2, index2) in item")
    //-                 p(v-for="(item3, index3) in elements[item2].opening_list")
    //-                     label открытие створки двери
    //-                         i.material-icons expand_more
    //-                         select(v-model="windows[current_window].opening.door[index3]")
    //-                             option(v-for="(item4, index4) in item3" v-bind:value="index4") {{ opening[item4].title }}



     
        //- div(v-for="(element, index) in collections[windows[current_window].collection].elements") {{ element }}
    //- .grid-col-2

    //- ul(v-if="current_window != null")
    //-     li(v-for="(item, index) in collections[windows[current_window].collection].elements_list") {{ index }}
    //-         ul(v-if="index == 'window'")
    //-             li(v-for="(item2, index2) in item") {{ elements[item2].title }}
    //-                 ul
    //-                     li(v-for="(item3, index3) in elements[item2].opening_list") {{ item3 }}
    //-                         ul
    //-                             li(v-for="(item4, index4) in item3") {{ opening[item4].title }}
    //-         ul(v-if="index == 'door'")
    //-             li(v-for="(item2, index2) in item") {{ elements[item2].title }}
    //-                 ul
    //-                     li(v-for="(item3, index3) in elements[item2].opening_list") {{ item3 }}
    //-                         ul
    //-                             li(v-for="(item4, index4) in item3") {{ opening[item4].title }}

    //- div(v-if="current_window != null") 
        p(v-for="(element, index) in collections[windows[current_window].collection].elements")
            label открытие створки {{ element }}
                    i.material-icons expand_more
                    select()
                        option()
    //- div(v-if="windows[current_window] && materials[windows[current_window].material].brands && materials[windows[current_window].material].brands[windows[current_window].brand].models && materials[windows[current_window].material].brands[windows[current_window].brand].models[windows[current_window].model].glazings && materials[windows[current_window].material].brands[windows[current_window].brand].models[windows[current_window].model].glazings[windows[current_window].glazing].types && materials[windows[current_window].material].brands[windows[current_window].brand].models[windows[current_window].model].glazings[windows[current_window].glazing].types[windows[current_window].type].doors")
        p(v-for="(door, index) in materials[windows[current_window].material].brands[windows[current_window].brand].models[windows[current_window].model].glazings[windows[current_window].glazing].types[windows[current_window].type].doors")
            label открытие створки
                    i.material-icons expand_more
                    select(
                        v-model="windows[current_window].doors[index]" )
                        option(
                            v-for="(item, index2) in door"
                            v-bind:value="index2" ) {{ item.title }}
    //- .grid-col-2.no-gutters
        p
            label открывание створки1
                i.material-icons expand_more
                select(name="")
                    option(value="значение") Глухое
                    option(value="значение") Вариант2
                    option(value="значение") Вариант3
        p
            label открывание створки2
                i.material-icons expand_more
                select(name="")
                    option(value="значение") Поворотно-откидное
                    option(value="значение") Вариант2
                    option(value="значение") Вариант3