section.section.active.s1
    .fp-bg
        .l
            div
                p= s1.left.s1Desc
                h1= s1.left.s1Title
                ul.s1-advantages
                    li
                        span.title От 6 690 ₽
                        span.s1-desc За окно с доставкой и установкой. Экономия до 40%
                    li
                        span.title 5 лет гарантии
                        span.s1-desc Даже при условии, что окна вы устанавливаете сами
                a(href='/calculation').btn
                    span Заказать окно
        .r
            .s1-slider-imgs
                each val, index in s1.actions
                    .s1-slide
                        img(
                            data-lazy='/images/actions/'+val.s1ActionImage
                            alt=""
                        )
            div
                ul.s1-items
                    each val, index in s1.actions
                        if index == 0
                            li
                                a.isActive(href=val.s1ActionURL)
                                    span.s1-desc= val.s1ActionTitle
                        else 
                            li
                                a(href=val.s1ActionURL)
                                    span.s1-desc= val.s1ActionTitle
                .s1-dots