.section.s2
    .fp_bg
        ul.level1
            each item in s2_menu
                li(class='level1')
                    .front
                        .img
                            img(src="/images/index/s2/"+item.img, alt= item.title)
                        .title= item.title
                    .back
                        .bg
                        .title= item.title
                        i.material-icons.material-icons-clear clear
                        i.material-icons.material-icons-arrow_left arrow_left
                        if item.list
                            .list
                                ul
                                    each item2 in item.list
                                        li
                                            if !item2.list
                                                a(href= item2.uri)= item2.title
                                            else
                                                a.more(href= item2.uri)= item2.title
                                                ul
                                                    each item3 in item2.list
                                                        li
                                                            if !item3.list
                                                                a(href= item3.uri)= item3.title
                                                            else
                                                                a.more(href= item3.uri)= item3.title
                                                                ul
                                                                    each item4 in item3.list
                                                                        li
                                                                            if !item4.list
                                                                                a(href= item4.uri)= item4.title
                                                                            else
                                                                                a.more(href= item4.uri)= item4.title
                                                                                ul
                                                                                    each item5 in item4.list
                                                                                        li
                                                                                            a(href= item5.uri)= item5.title
