- const s2_menu = [{    title: 'Окна',    ico: 'windows',    list: []},{    title: 'Услуги',    ico: 'services',    list: [        {            title: 'Вызов замерщика',            uri: '/gager'        },        {            title: 'Своими руками',            uri: '#',            list: [                {                    title: 'Регулировка фурнитуры',                    uri: '/regulation_window'                },                {                    title: 'Инструкция по самостоятельному замеру',                    uri: '/optional_service'                },            ]        },        {            title: 'Установка окон',            uri: '#',            dev: true,            list: [                {                    title: 'Установка от Просто Окна',                    uri: '#',                    list: [                        {                            title: 'Премиум монтаж',                            uri: '#'                        },                        {                            title: '10 плюсов монтажа от Просто Окна',                            uri: '#'                        },                        {                            title: 'Гарантия',                            uri: '#'                        },                    ]                },            ]        },        {            title: 'Установка откосов',            uri: '#',            dev: true        },        {            title: 'Установка подоконников',            uri: '#',            dev: true,            list: [                {                    title: 'Заделка шва под подоконником',                    uri: '#'                }            ]        },        {            title: 'Отделка балконов',            uri: '#',            dev: true,            list: [                {                    title: 'Построение крыши',                    uri: '#'                },                {                    title: 'Построение выноса',                    uri: '#'                },                {                    title: 'Обшивка балконов',                    uri: '#'                },                {                    title: 'Материалы для отделки',                    uri: '#'                },            ]        },        {            title: 'Окосячка',            dev: true,            uri: '#'        },        {            title: 'Вывоз мусора',            dev: true,            uri: '#'        },        {            title: 'Клининг после установки',            dev: true,            uri: '#'        },        {            title: 'Доставка',            dev: true,            uri: '#'        },        {            title: 'Сервисное обслуживание',            dev: true,            uri: '#'        },    ]},{    title: 'Комплектующие',    ico: 'accessories',    list: [        {            title: 'Подоконники',            uri: '/options'        },        {            title: 'Ручки',            uri: '/options'        },        {            title: 'Шторы',            uri: '/options'        },        {            title: 'Жалюзи',            uri: '/options'        },        {            title: 'Клапаны',            uri: '/options'        },        {            title: 'Москитные сетки',            uri: '/options'        },    ]},{    title: 'Цены',    ico: 'prices',    list: [        {            title: 'Калькулятор',            uri: '#s6',            dev: true        },        {            title: 'Заказать точный расчёт',            uri: '/calculation'        },        {            title: 'Лучшая цена',            uri: '#',            dev: true        },        {            title: 'Оплата',            uri: '/pay'        },        {            title: 'Цены по типу дома',            uri: '#',            dev: true        },        {            title: 'Рассрочка',            uri: '#',            dev: true        },    ]},{    title: 'Wiki окна',    ico: 'wiki-windows',    list: [        {            title: 'Словарь оконных терминов',            uri: '#',            dev: true        },        {            title: 'История',            uri: '#',            dev: true        },        {            title: 'Профили',            uri: '#',            dev: true        },        {            title: 'Сравнительные характеристики профильных систем',            uri: '#',            dev: true        },        {            title: 'Фурнитура',            uri: '#',            dev: true        },        {            title: 'Стекло и стеклопакеты',            uri: '#',            dev: true        },        {            title: 'Монтаж',            uri: '#',            dev: true        },        {            title: 'Балконы',            uri: '#',            dev: true        },        {            title: 'Двери',            uri: '#',            dev: true        },    ]},{    title: 'Корпоративным клиентам',    ico: 'corporate-clients',    list: [        {            title: 'Страница с описанием',            uri: '/corporate'        },        {            title: 'PDF презентация для скачивания',            uri: '#',            dev: true        },        {            title: 'Услуги корпоративного монтажа',            uri: '#',            dev: true        },        {            title: 'Личный кабинет',            uri: '#',            dev: true        },    ]},{    title: 'Акции/новое',    ico: 'stocks',    list: [        {            title: 'Акция "Найдите дешевле"',            uri: '/best-cost'        }    ]},{    title: 'Компания',    ico: 'company',    list: [        {            title: 'Контакты',            uri: '/contact'        },        {            title: 'О компании',            uri: '/company'        },        {            title: 'Как мы работаем',            uri: '/work'        },        {            title: 'Гарантия',            uri: '#',            dev: true        },        {            title: 'Новости',            uri: '/news'        },        {            title: 'Инновации',            uri: '#',            list: [                {                    title: 'Заработайте с нами',                    uri: '#',                    dev: true                },                {                    title: 'Вместе еще дешевле',                    uri: '/cheaper-together'                },                {                    title: 'Освященные окна',                    uri: '#',                    dev: true                },                {                    title: 'Благотворительность',                    uri: '#',                    dev: true                },            ]        },    ]},]

mixin desktopList(list)
    if list
        ol
            each item in list
                li
                    a(href=item.uri class={ 'more': item.uri === '#', 'disabled': item.dev })= item.title
                        span.bg

                    +desktopList(item.list)

mixin mobList(list, type, ico, title, index)
    if list
        if type
            div(class=`slide s2-list-${index}`)
                ol.slide-wrap
                    p.s2-title= title
                    each item in list
                        li.s2-first-level
                            a(href=item.uri class={ 'more': item.uri === '#', 'disabled': item.dev })= item.title

                            +mobList(item.list, false, false, title)

                    svg.card-icon(aria-hidden='true')
                        use(xlink:href=`#index-${ico}`)
        else
            ol
                p.s2-title= title
                each item in list
                    li
                        a(href=item.uri class={ 'more': item.uri === '#', 'disabled': item.dev })= item.title

                        +mobList(item.list, false, false, title)

section.section.s2
    .desktop
        ul.s2-main-list
            each item in s2_menu
                li.s2-card
                    .s2-front-card
                        div
                            button.card-back(aria-label='Назад')
                                svg(width='15px' height='15px')
                                    use(xlink:href='#back')
                            button.card-close(aria-label='Закрыть')
                                svg(width='15px' height='15px')
                                    use(xlink:href='#cross')
                        svg.card-icon(aria-hidden='true')
                            use(xlink:href=`#index-${item.ico}`)
                        p= item.title
                    .s2-back-card
                        +desktopList(item.list)
                    svg.s2-mouse(width="34" height="81")
                        use(xlink:href='#mouse')
                    
    .mob
        button.s2-close MENU
        .s2-cards
            each item in s2_menu
                .s2-front-card
                    svg.card-icon(aria-hidden='true')
                        use(xlink:href=`#index-${item.ico}`)
                    p= item.title
        each item, index in s2_menu
            +mobList(item.list, 1, item.ico, item.title, index)