- var iProductID = (product && product.iProductID) ? product.iProductID : false;

#productMenu(data-iProductID= iProductID)
    .list
        .item(v-for="material, key in materials")
            .title
                .name {{ material.sMaterialTitle }}
                .subMenu
                    .item(v-for="category in material.material_categories")
                        input(
                            type="radio"
                            :name="'category_' + key + '[]'"
                            :id="'category_' + key + '_' + category.iMaterialCategoryID"
                            :value="category.iMaterialCategoryID"
                            v-model="material.iMaterialCategoryID_active")
                        label(:for="'category_' + key + '_' + category.iMaterialCategoryID") {{ category.sMaterialCategoryTitle }}
            ul.brands-models-list
                li.brand-item(
                    v-for="brand, brandKey in material.brand"
                    v-bind:class="{ active: brand.active }"
                    )
                    .brand-data
                        a.brand-page-link(href="/page-brand")
                            .ico-info
                        a.brand-title(href="#" v-on:click.prevent="clickBrand(brand)") {{ brand.sBrandTitle }}
                        .ico(v-on:click.prevent="clickBrand(brand)")
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul.models-list
                        li.model-item(
                            v-for="model in brand.models"
                            v-bind:class="{ active: model.active}"
                            v-show="!material.iMaterialCategoryID_active || model.iMaterialCategoryID == material.iMaterialCategoryID_active"
                            )
                            span.empty
                            a(v-bind:href="'/product/' + model.sProductURI")
                                template {{ model.sProductTitle }}
                                template(v-if="model.sBrusTitle")  {{ model.sBrusTitle }}
    .filter
        .filterData
            .category
                ul.category_list
                    li.category_item(
                        v-for="producttype in producttypes"
                    )
                        input.producttype_input(
                            name="producttypes[]"
                            :id="'producttypes_' + producttype.iProductTypeID"
                            :value="producttype.iProductTypeID"
                            v-model="filterParams.iProductTypeID"
                            type="radio"
                        )
                        label.producttype_label(
                            :for="'producttypes_' + producttype.iProductTypeID"
                        )
                            .ico
                                img(:src="'/images/product/producttype/' + producttype.sProductTypeIco", alt="")
                            .title {{ producttype.sProductTypeTitle }}
                        div.materials(
                            v-show="producttype.iProductTypeID == filterParams.iProductTypeID && filterParams.material[0]"
                        )
                            div.material_item(
                                v-for="material in filterParams.material")
                                    input.material_input(
                                        :name="'producttypes_ ' + producttype.iProductTypeID + '_material[]'"
                                        :id="'producttypes_' + producttype.iProductTypeID + '_material_' + material.iMaterialID"
                                        :value="material.iMaterialID"
                                        v-model="filterParams.iMaterialID"
                                        @change="filterMaterialClick(material)"
                                        type="radio"
                                    )
                                    label.material_label(
                                        :for="'producttypes_' + producttype.iProductTypeID + '_material_' + material.iMaterialID"
                                    )
                                        span {{ material.sMaterialTitle }}
                                    div.material_category(v-show="material.iMaterialID == filterParams.iMaterialID")
                                        div.material_category_item(v-for="category in material.material_categories")
                                            input.material_category_input(
                                                :name="'producttypes_ ' + producttype.iProductTypeID + '_material_' + material.iMaterialID + '_category[]'"
                                                :id="'producttypes_' + producttype.iProductTypeID + '_material_' + material.iMaterialID + '_category_' + category.iMaterialCategoryID"
                                                :value="category.iMaterialCategoryID"
                                                v-model="filterParams.iMaterialCategoryID"
                                                @change="filterMaterialCategoryClick(category)"
                                                type="radio"
                                            )
                                            label.material_category_label(
                                                :for="'producttypes_' + producttype.iProductTypeID + '_material_' + material.iMaterialID + '_category_' + category.iMaterialCategoryID"
                                            )
                                                span {{ category.sMaterialCategoryTitle }}
            .list
                ul.brands-models-list
                    li.brand-item(
                        v-for="brand, brandKey in filterResult"
                        v-bind:class="{ active: brand.active }"
                        )
                        .brand-data
                            a.brand-title(href="#" v-on:click.prevent="clickFilterBrand(brand)") {{ brand.sBrandTitle }}
                            .ico(v-on:click.prevent="clickFilterBrand(brand)")
                                i.material-icons.material-icons-add add
                                i.material-icons.material-icons-remove remove
                        ul.models-list
                            li.model-item(
                                v-for="model in brand.models"
                                v-bind:class="{ active: model.active}"
                                )
                                a(v-bind:href="'/product/' + model.sProductURI")
                                    template {{ model.sProductTitle }}
                                    template(v-if="model.sBrusTitle")  {{ model.sBrusTitle }}
    .wrap
        .title Выберите материал
        .button
            label.filterButton(:class="{ active: openFilter }")
                .ico
                    input(
                        type="checkbox"
                        v-model="openFilter"
                    )
        .options
            .materials(v-if="!openFilter && mobile.material")
                .sMaterialTitle(data-toggle="dropdown") {{ mobile.material.sMaterialTitle }}
                .dropdown-menu
                .list
                    template(v-for="material, key in materials")
                        label.item(
                            :class="{ active: material.iMaterialID == mobile.iMaterialID}"
                        ) {{ material.sMaterialTitle }}
                            input(
                                type="radio"
                                name="mobile_materials[]"
                                :value="material.iMaterialID"
                                v-model="mobile.iMaterialID")
            .material_types(v-if="!openFilter && mobile.iMaterialID")
                .item(v-for="category in mobile.material.material_categories")
                    input(
                        type="radio"
                        :name="'mobile_category[]'"
                        :id="'categoryMobile_' + category.iMaterialCategoryID"
                        :value="category.iMaterialCategoryID"
                        v-model="mobile.material.iMaterialCategoryID_active")
                    label(
                        :for="'categoryMobile_' + category.iMaterialCategoryID") {{ category.sMaterialCategoryTitle }}
            .materials(v-if="openFilter")
                .sMaterialTitle(data-toggle="dropdown") {{ filterParams.sMaterialTitle }}
                .dropdown-menu
                .list
                    template(v-for="material, key in filterParams.material")
                        label.item(
                            :class="{ active: material.iMaterialID == filterParams.iMaterialID}"
                        ) {{ material.sMaterialTitle }}
                            input(
                                :name="'producttypes_material[]'"
                                :id="'producttypes_material_' + material.iMaterialID"
                                :value="material.iMaterialID"
                                v-model="filterParams.iMaterialID"
                                @change="filterMaterialClick(material)"
                                type="radio")
            template(v-for="material, key in filterParams.material")
                .material_types(v-if="openFilter && material.iMaterialID == filterParams.iMaterialID")
                    .item(v-for="category in material.material_categories")
                        input(
                            :name="'producttypes_material_' + material.iMaterialID + '_category[]'"
                            :id="'producttypes_material_' + material.iMaterialID + '_category_' + category.iMaterialCategoryID"
                            :value="category.iMaterialCategoryID"
                            v-model="filterParams.iMaterialCategoryID"
                            @change="filterMaterialCategoryClick(category)"
                            type="radio")
                        label(
                            :for="'producttypes_material_' + material.iMaterialID + '_category_' + category.iMaterialCategoryID") {{ category.sMaterialCategoryTitle }}
        .categorys
            .item(for="" v-for="producttype in producttypes")
                input.producttype_input(
                    name="producttypesMobile[]"
                    :id="'producttypes_' + producttype.iProductTypeID"
                    :value="producttype.iProductTypeID"
                    v-model="filterParams.iProductTypeID"
                    type="radio"
                )
                label(
                    @click="useFilterMobile"
                    :class="{ openFilter: openFilter }"
                    :for="'producttypes_' + producttype.iProductTypeID"
                )
                    img(:src="'/images/product/producttype/' + producttype.sProductTypeIco", alt="")

        .data(v-if="mobile.material")
            ul.brands-models-list(v-if="!openFilter")
                li.brand-item(
                    v-for="brand, brandKey in mobile.material.brand"
                    v-bind:class="{ active: brand.active }"
                    )
                    .brand-data
                        a.brand-page-link(href="/page-brand")
                            .ico-info
                        a.brand-title(href="#" v-on:click.prevent="clickBrand(brand)") {{ brand.sBrandTitle }}
                        .ico(v-on:click.prevent="clickBrand(brand)")
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul.models-list
                        li.model-item(
                            v-for="model in brand.models"
                            v-bind:class="{ active: model.active}"
                            v-show="!mobile.material.iMaterialCategoryID_active || model.iMaterialCategoryID == mobile.material.iMaterialCategoryID_active"
                            )
                            span.empty
                            a(v-bind:href="'/product/' + model.sProductURI")
                                template {{ model.sProductTitle }}
                                template(v-if="model.sBrusTitle")  {{ model.sBrusTitle }}
            ul.brands-models-list(v-if="openFilter")
                li.brand-item(
                    v-for="brand, brandKey in filterResult"
                    v-bind:class="{ active: brand.active }"
                    )
                    .brand-data
                        a.brand-title(href="#" v-on:click.prevent="clickFilterBrand(brand)") {{ brand.sBrandTitle }}
                        .ico(v-on:click.prevent="clickFilterBrand(brand)")
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul.models-list
                        li.model-item(
                            v-for="model in brand.models"
                            v-bind:class="{ active: model.active}"
                            )
                            a(v-bind:href="'/product/' + model.sProductURI")
                                template {{ model.sProductTitle }}
                                template(v-if="model.sBrusTitle")  {{ model.sBrusTitle }}
