- var iProductID = (product && product.iProductID) ? product.iProductID : false;

#productMenu(data-iProductID= iProductID)
    .list
        .item(v-for="material, key in materials")
            .title
                .name {{ material.sMaterialTitle }}
                .subMenu
                    .item(v-for="category in material.material_categories")
                        input(
                            type="radio"
                            :name="'category_' + key + '[]'"
                            :id="'category_' + key + '_' + category.iMaterialCategoryID"
                            :value="category.iMaterialCategoryID"
                            v-model="material.iMaterialCategoryID_active")
                        label(:for="'category_' + key + '_' + category.iMaterialCategoryID") {{ category.sMaterialCategoryTitle }}
            ul.brands-models-list
                li.brand-item(
                    v-for="brand, brandKey in material.brand"
                    v-bind:class="{ active: brand.active }"
                    )
                    .brand-data
                        a.brand-page-link(href="/brand/montblanc")
                            .ico-info
                        a.brand-title(href="#" v-on:click.prevent="clickBrand(brand)") {{ brand.sBrandTitle }}
                        .ico(v-on:click.prevent="clickBrand(brand)")
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul.models-list
                        li.model-item(
                            v-for="model in brand.models"
                            v-bind:class="{ active: model.active}"
                            v-show="!material.iMaterialCategoryID_active || model.iMaterialCategoryID == material.iMaterialCategoryID_active"
                            )
                            span.empty
                            a(v-bind:href="'/product/' + model.sProductURI")
                                template {{ model.sProductTitle }}
                                template(v-if="model.sBrusTitle") брус {{ model.sBrusTitle }}
            //- pre(style="background: white;font-size:10px;") {{ material }}
        //- .item(v-for="materialMenu, materialMenuKey in materialMenus")
            .title
                .name {{ materialMenu.title }}
                ul.subMenu
                    li(v-for="subMenu in materialMenu.subMenu")
                        a(
                            href="#"
                            v-bind:class="{ active: materialMenu.iMaterialID == subMenu.iMaterialID}"
                            v-on:click.prevent="changeMaterial(materialMenuKey, subMenu.iMaterialID)") {{ subMenu.title }}
            ul.brands-models-list
                li.brand-item(
                    v-for="brand, brandKey in materialMenu.list"
                    v-bind:class="{ active: brand.active }"
                    )
                    .brand-data
                        a.brand-page-link(href="/brand/montblanc")
                            .ico-info
                        a.brand-title(href="#" v-on:click.prevent="clickBrand(materialMenuKey, brandKey)") {{ brand.sBrandTitle }}
                        .ico(v-on:click.prevent="clickBrand(materialMenuKey, brandKey)")
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul.models-list
                        li.model-item(
                            v-for="model in brand.list"
                            v-bind:class="{ active: model.active}"
                            )
                            span.empty
                            a(v-bind:href="'/product/' + model.sProductURI")
                                template {{ model.iProductID }} {{ model.sProductTitle }}
                                template(v-if="model.sBrusTitle") брус {{ model.sBrusTitle }}
        //- .item item
                //- li.brand-item(v-for="brand in brands")
                    .brand-data
                        a.brand-page-link(href="/brand/montblanc")
                            .item__links__brand__ico
                        a.brand-title(href="#") {{ brand.title }}
                        i.material-icons.material-icons-add add
                        i.material-icons.material-icons-remove remove
                    .models-list
                        ul.model-data
                            li.model-item(v-for="model in brand.models")
                                a(href="/product/montblanc_eco") {{ model.title }}
            //- ul.brands-models-list
            //-     li.brand-item(v-for="brand in brands")
            //-         .brand-data
            //-             a.brand-page-link(href="/brand/montblanc")
            //-                 .item__links__brand__ico
            //-             a.brand-title(href="#") {{ brand.title }}
            //-             i.material-icons.material-icons-add add
            //-             i.material-icons.material-icons-remove remove
            //-         .models-list
            //-             ul.model-data
            //-                 li.model-item(v-for="model in brand.models")
            //-                     a(href="/product/montblanc_eco") {{ model.title }}
            //- +productBrandModel
            //- ul.brand_list
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Alutech
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name KBE
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Montblanc
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Novotex
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Rehau
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name SEAL
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Wintech
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Provedal
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Slidors
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
        //- .item
            .title
                .name Алюминий
            +productBrandModel
        //- .item
            .title
                .name Дерево
            +productBrandModel
                //- .button_select_options
                    .title Лиственница
                    ul
                        li.active Сосна
                        li Лиственница
                        li Дуб
            //- ul.brand_list
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Alutech
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name KBE
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul.model_list
                        li.model_list_item
                            a(href="#")
                                span.model-name Eco
                        li.model_list_item
                            a(href="#")
                                span.model-name Nord
                        li.model_list_item
                            a(href="#")
                                span.model-name Blitz New
                        li.model_list_item
                            a(href="#")
                                span.model-name Delight
                        li.model_list_item
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Montblanc
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Novotex
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Rehau
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name SEAL
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Wintech
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Provedal
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand-link(href="#")
                            .ico
                        a.brand_list_link(href="#")
                            span.brand-name Slidors
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
    .filter
        .category
            ul.category_list
                li.category_item
                    a.category_link(href="#") Балконы и лоджии
                li.category_item.active
                    a.category_link(href="#") Фасады
                    ul
                        li
                            a(href="#") Сосна
                        li
                            a(href="#") Лиственница
                        li.active
                            a(href="#") Дуб
                li.category_item
                    a.category_link(href="#") Беседки и террасы
                li.category_item
                    a.category_link(href="#") Квартиры и загородные дома
                li.category_item
                    a.category_link(href="#") Зимние сады и зенитные фонари
                li.category_item
                    a.category_link(href="#") Двери
                li.category_item
                    a.category_link(href="#") Раздвижные конструкции/портал
                li.category_item
                    a.category_link(href="#") Перегородки
        .list
            
            //- +productBrandModel
            //- ul.brand_list
                li.brand_list_item
                    .links
                        a.brand_list_link(href="#")
                            span.brand-name Alutech
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand_list_link(href="#")
                            span.brand-name KBE
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand_list_link(href="#")
                            span.brand-name Montblanc
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand_list_link(href="#")
                            span.brand-name Novotex
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand_list_link(href="#")
                            span.brand-name Rehau
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand_list_link(href="#")
                            span.brand-name SEAL
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand_list_link(href="#")
                            span.brand-name Wintech
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand_list_link(href="#")
                            span.brand-name Provedal
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58
                li.brand_list_item
                    .links
                        a.brand_list_link(href="#")
                            span.brand-name Slidors
                            i.material-icons.material-icons-add add
                            i.material-icons.material-icons-remove remove
                    ul
                        li
                            a(href="#")
                                span.model-name Eco
                        li
                            a(href="#")
                                span.model-name Nord
                        li
                            a(href="#")
                                span.model-name Euro
                        li
                            a(href="#")
                                span.model-name Blitz New
                        li
                            a(href="#")
                                span.model-name Delight
                        li
                            a(href="#")
                                span.model-name Techno 58

//- .productsMenu

    - var page_product = (product) ? product : false

    ul.nav(role="tablist")
        each brand, index in brandMenu
            li.nav-item
                a.nav-link(
                    class= { active: page_product && page_product.iBrandID == brand.iBrandID || !page_product && index == 0 }
                    id= "tab_" + brand.iBrandID
                    data-toggle="tab"
                    href= "#tab_content_" + brand.iBrandID
                    role="tab"
                    aria-controls= "tab_" + brand.iBrandID
                    aria-selected="true") #{brand.sBrandTitle}
    .tab-content
        each brand, index in brandMenu
            .tab-pane.fade(
                class= { active: product && product.iBrandID == brand.iBrandID || !product && index == 0, show: product && product.iBrandID == brand.iBrandID || !product && index == 0}
                id= "tab_content_" + brand.iBrandID
                role="tabpanel"
                aria-labelledby="home-tab")
                if brand.products.material.length
                    ul.nav(role="tablist")
                        each material, index2 in brand.products.material
                            li.nav-item
                                a.nav-link(
                                    class= { active: page_product && page_product.iMaterialID == material.iMaterialID || !page_product && index2 == 0 }
                                    id= "tab_" + brand.iBrandID + "_material_" + material.iMaterialID
                                    data-toggle="tab"
                                    href= "#tab_content_" + brand.iBrandID + "_material_" + material.iMaterialID
                                    role="tab"
                                    aria-controls= "tab_" + brand.iBrandID + "_material_" + material.iMaterialID
                                    aria-selected="true") #{material.sMaterialTitle}
                    .tab-content
                        each material, index2 in brand.products.material
                            .tab-pane.fade(
                                class= { active: page_product && page_product.iMaterialID == material.iMaterialID || !page_product && index2 == 0, show: page_product && page_product.iMaterialID == material.iMaterialID || !page_product && index2 == 0 }
                                id= "tab_content_" + brand.iBrandID + "_material_" + material.iMaterialID)
                                each product, index3 in material.list
                                    div.wrap-link
                                        a.nav-link2(
                                            class= { active: page_product && page_product.iProductID == product.iProductID }
                                            href="/product/" + product.sProductURI) #{brand.sBrandTitle} #{product.sProductTitle}
                                            if product.iGenerateUriBrus
                                                |  #{product.sBrusTitle}
                else
                    each product, index2 in brand.products.list
                        div.wrap-link
                            a.nav-link2(
                                href="/product/" + product.sProductURI,
                                class= { active: page_product && page_product.iProductID == product.iProductID}) #{brand.sBrandTitle} #{product.sProductTitle}

