#product.ppage
    .toggle_submenu
        .bg
            .icons
                .type
                .hamburger
            .title
                .brand #{product.brand.sBrandTitle}
                .model #{product.sProductTitle}
    .submenu
        ul
            each item in products
                li
                    a(href="/product/"+item.sProductURI) #{item.brand.sBrandTitle} #{item.sProductTitle}
    .callme
        img(src="/images/product/phone.svg", alt="call me")
    .data
        .basic
            .gallery                
                .list2
                    .slick
                        each image in product.product_images
                            div.slick-change(
                                data-iProductID= product.iProductID,
                                data-iProductImageID= image.iProductImageID,
                                data-sProductImageFrontName=image.sProductImageFrontName,
                                data-sProductImageBackName=image.sProductImageBackName
                            )
                                img(src="/images/product/gallery/" + image.sProductImageFrontName, alt="")
                .view2
                    .back
                        if product.product_images[0] !== undefined
                            .bg
                                img(
                                    src="/images/product/gallery/" + product.product_images[0].sProductImageBackName,
                                    data-iProductImageID= product.product_images[0].iProductImageID,
                                    alt="")
                    .front
                        .front_bg
                            if product.product_images[0] !== undefined
                                .bg
                                    img(
                                        src="/images/product/gallery/" + product.product_images[0].sProductImageFrontName,
                                        data-iProductImageID= product.product_images[0].iProductImageID,
                                        alt="")
                    ul.point
                        //- each point in product_images_point
                            li.point_item(
                                data-iProductImageID= point.iProductImageID,
                                data-fProductImagePointPosX= point.fProductImagePointPosX,
                                data-fProductImagePointPosY= point.fProductImagePointPosY)= point.tProductImagePointMess
            .info
                .tabs
                    .tab-content
                        #home1.tab-pane.fade.show.active
                            ul.circle
                                li
                                    .percent
                                        .value= product.iProductParam1+"%"
                                        svg(viewBox="0 0 36 36", class="circular-chart-full")
                                            path.circle(stroke-dasharray="100, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                        svg(viewBox="0 0 36 36", class="circular-chart")
                                            path.circle(stroke-dasharray=product.iProductParam1+", 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                    .title Теплоизоляция
                                li
                                    .percent
                                        .value= product.iProductParam2+"%"
                                        svg(viewBox="0 0 36 36", class="circular-chart-full")
                                            path.circle(stroke-dasharray="100, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                        svg(viewBox="0 0 36 36", class="circular-chart")
                                            path.circle(stroke-dasharray=product.iProductParam2+", 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                    .title Шумоизоляция
                                li
                                    .percent
                                        .value= product.iProductParam3+"%"
                                        svg(viewBox="0 0 36 36", class="circular-chart-full")
                                            path.circle(stroke-dasharray="100, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                        svg(viewBox="0 0 36 36", class="circular-chart")
                                            path.circle(stroke-dasharray=product.iProductParam3+", 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                    .title Безопасность
                                li
                                    .percent
                                        .value= product.iProductParam4+"%"
                                        svg(viewBox="0 0 36 36", class="circular-chart-full")
                                            path.circle(stroke-dasharray="100, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                        svg(viewBox="0 0 36 36", class="circular-chart")
                                            path.circle(stroke-dasharray=product.iProductParam4+", 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                    .title Эстетичность
                                li
                                    .percent
                                        .value= product.iProductParam5+"%"
                                        svg(viewBox="0 0 36 36", class="circular-chart-full")
                                            path.circle(stroke-dasharray="100, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                        svg(viewBox="0 0 36 36", class="circular-chart")
                                            path.circle(stroke-dasharray=product.iProductParam5+", 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                    .title Экологичность
                                li
                                    .percent
                                        .value= product.iProductParam6+"%"
                                        svg(viewBox="0 0 36 36", class="circular-chart-full")
                                            path.circle(stroke-dasharray="100, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                        svg(viewBox="0 0 36 36", class="circular-chart")
                                            path.circle(stroke-dasharray=product.iProductParam6+", 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                                    .title Цена
                        #home2.tab-pane.fade
                            p Отменнное качество по приемлемой цене. Эстетичный профиль с закругленным штапиком.
                            ul
                                li
                                    span Монтажная глубина: 
                                    | 60 мм;
                                li
                                    span Профиль: 
                                    | Трехкамерный профиль;
                                li
                                    span Сопротивление теплопередаче: 
                                    | 0,58 м2×°С/Вт;
                                li
                                    span Класс профиля: 
                                    | «В»;
                                li
                                    span Звукоизоляция класса: 
                                    | «С»;
                                li
                                    span Защита от холода, осадков и ветра:
                                    | группы «С»;
                                li
                                    span Фурнитура: 
                                    | Roto (Германия).
                ul.nav.nav-tabs
                    li.nav-item
                        a#home1-tab.nav-link.active(data-toggle="tab" href="#home1" aria-selected="true") Характристики
                    li.nav-item
                        a#home2-tab.nav-link(data-toggle="tab" href="#home2" aria-selected="true") Описание
                .buttons
                    button.calculate Добавить в калькулятор
                    button.favorite
                        i.material-icons star_border
                //- button Добавить в калькулятор
        if product.product_colors.length
            .colors
                .list
                    ul
                        each color, index in product.product_colors
                            if color.color.sColorTextureFileName
                                - var bg = 'background-image: url("/images/color/' + color.color.sColorTextureFileName + '")';
                            else
                                - var bg = 'background-color: #' + color.color.sColorCode
                            if index == 0
                                - var active = 'active';
                            
                            li(
                                style= bg
                                attr-iProductID= color.iProductID
                                attr-sProductColorFilename= color.sProductColorFilename
                                attr-sColorTitleCode= color.color.sColorTitleCode
                                attr-sColorTextureFileName= color.color.sColorTextureFileName
                                title= color.color.sColorTitle
                                )
                                .code= color.color.sColorTitleCode
                                .title= color.color.sColorTitle
                    button Добавить в калькулятор
                .view
        .desc
            each image in product.product_images
                if image.iPhotoInDescOnPage == 1
                    img(src="/images/product/gallery/" + image.sProductImageFrontName, alt="")
            h1 #{product.brand.sBrandTitle} #{product.sProductTitle}
            .text!= product.sProductText
            button Добавить в калькулятор
