#product.ppage
    .toggle_submenu
        .bg
            .icons
                .type
                .hamburger
            .title
                .brand #{product.sBrandTitle}
                .model #{product.sProductTitle}
    .submenu
        ul
            each item in products
                li
                    a(href="/product/"+item.sProductURI) #{item.sBrandTitle} #{item.sProductTitle}
    .callme
        img(src="/images/product/phone.svg", alt="call me")
    .data
        .basic
            .gallery
                .list2
                    ul
                        each image in product_images
                            li(
                                data-iProductID= product.iProductID,
                                data-iProductImageID= image.iProductImageID,
                                data-sProductImageFrontName=image.sProductImageFrontName,
                                data-sProductImageBackName=image.sProductImageBackName
                            )
                                img(src="/images/product/" + product.iProductID + "/" + image.sProductImageFrontName, alt="")
                .view2
                    .back
                        if product_images[0] !== undefined
                            .bg
                                img(
                                    src="/images/product/" + product.iProductID + "/" + product_images[0].sProductImageBackName,
                                    data-iProductImageID= product_images[0].iProductImageID,
                                    alt="")
                    .front
                        .front_bg
                            if product_images[0] !== undefined
                                .bg
                                    img(
                                        src="/images/product/" + product.iProductID + "/" + product_images[0].sProductImageFrontName,
                                        data-iProductImageID= product_images[0].iProductImageID,
                                        alt="")
                    ul.point
                        each point in product_images_point
                            li.point_item(
                                data-iProductImageID= point.iProductImageID,
                                data-fProductImagePointPosX= point.fProductImagePointPosX,
                                data-fProductImagePointPosY= point.fProductImagePointPosY)= point.tProductImagePointMess
            .stat
                ul
                    li
                        .percent
                            .value= product.iProductParam1+"%"
                            svg(viewBox="0 0 36 36", class="circular-chart-full")
                                path.circle(stroke-dasharray="100, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                            svg(viewBox="0 0 36 36", class="circular-chart")
                                path.circle(stroke-dasharray=product.iProductParam1+", 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                        .title Теплоизоляция
                    li
                        .percent
                            .value= product.iProductParam2+"%"
                            svg(viewBox="0 0 36 36", class="circular-chart-full")
                                path.circle(stroke-dasharray="100, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                            svg(viewBox="0 0 36 36", class="circular-chart")
                                path.circle(stroke-dasharray=product.iProductParam2+", 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                        .title Эстетичность
                    li
                        .percent
                            .value= product.iProductParam3+"%"
                            svg(viewBox="0 0 36 36", class="circular-chart-full")
                                path.circle(stroke-dasharray="100, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                            svg(viewBox="0 0 36 36", class="circular-chart")
                                path.circle(stroke-dasharray=product.iProductParam3+", 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                        .title Шумоизоляция
                    li
                        .percent
                            .value= product.iProductParam4+"%"
                            svg(viewBox="0 0 36 36", class="circular-chart-full")
                                path.circle(stroke-dasharray="100, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                            svg(viewBox="0 0 36 36", class="circular-chart")
                                path.circle(stroke-dasharray=product.iProductParam4+", 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                        .title Надежность
                    li
                        .percent
                            .value= product.iProductParam5+"%"
                            svg(viewBox="0 0 36 36", class="circular-chart-full")
                                path.circle(stroke-dasharray="100, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                            svg(viewBox="0 0 36 36", class="circular-chart")
                                path.circle(stroke-dasharray=product.iProductParam5+", 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                        .title Безопасность
                    li
                        .percent
                            .value= product.iProductParam6+"%"
                            svg(viewBox="0 0 36 36", class="circular-chart-full")
                                path.circle(stroke-dasharray="100, 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                            svg(viewBox="0 0 36 36", class="circular-chart")
                                path.circle(stroke-dasharray=product.iProductParam6+", 100", d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                        .title Экологичность
                button Добавить в калькулятор
        if product_color.length
            .colors
                .list
                    ul
                        each color, index in product_color
                            //- - console.log(color)
                            if color.sColorTextureFileName
                                - var bg = 'background-image: url("/images/colors/70_70/' + color.sColorTextureFileName + '")';
                            else
                                - var bg = 'background-color: #' + color.sColorCode
                            //- if index == 0
                            //-     - var active = 'active';
                            
                            li(
                                style= bg
                                attr-iProductID= color.iProductID
                                attr-sColorTitleCode= color.sColorTitleCode
                                attr-sColorTextureFileName= color.sColorTextureFileName
                                title= color.sColorTitle
                                )
                                .code= color.sColorTitleCode
                                .title= color.sColorTitle
                    button Добавить в калькулятор
                .view
        .desc
            if image_product_text !== undefined
                img(src="/images/product/" + product.iProductID + "/" + image_product_text.sProductImageFrontName, alt="")
            h1 #{product.sBrandTitle} #{product.sProductTitle}
            .text!= product.sProductText
            button Добавить в калькулятор