extends ../layouts/app

block content
    #page-brand
        .title
            a(href="/product")
                .material-icons(data-toggle="tooltip" data-placement="right" title="Вернуться к меню") reply
            .brand_title #{brand.sBrandTitle}
            .dropdown.dropright
                .ico(id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    img(src="/images/page-brand/arrow.svg", alt="")
                .dropdown-menu(aria-labelledby="dropdownMenuButton")
                    each item in brands
                        a.dropdown-item(href="/brand/" + item.sBrandURI, class= (item.iBrandID == brand.iBrandID) ? 'active' : '') #{ item.sBrandTitle }
        .desc
            .sBrandDesc #{ brand.sBrandDesc }
                .closeDesc
            .buttonDesc Описание
        .products
            .gallery
                each item, key in product
                    div(class=0 ? 'active' : '')
                        if (item.product_images[0])
                            if item.product_colors[0]
                                .sProductImage(style="background-image: url(/images/product/color/" + item.product_colors[0].sProductColorFilename + ")")
                                    a(href="/product/" + item.sProductURI)
                                        .linkp
                                            img(src="/images/page-brand/look.svg")
                            else
                                .sProductImage(style="background-image: url(/images/product/gallery/" + item.product_images[0].sProductImageFrontName + ")")
                                    a(href="/product/" + item.sProductURI)
                                        .linkp
                                            img(src="/images/page-brand/look.svg")
                        .sProductTitle #{ item.sProductTitle }
        .productSelected
            .gallery2
                each item, key in product
                    div
                        if (item.product_images[0])
                            .sProductImage
                                .bg
                                    if item.product_colors[0]
                                        img(src="/images/product/color/" + item.product_colors[0].sProductColorFilename)
                                        a(href="/product/" + item.sProductURI)
                                            img(src="/images/page-brand/look.svg")
                                    else
                                        img(src="/images/product/gallery/" + item.product_images[0].sProductImageFrontName)
                                        a(href="/product/" + item.sProductURI)
                                            img(src="/images/page-brand/look.svg")
                        .sProductTitle #{ item.sProductTitle }
