extends ../layouts/app

block content
    #intuitive.ppage
        .intuitive-bref(v-if="!showResult")
            h1 Интуитивный подбор окон
            .subject(v-if="currentSubject == null")
                .desc Куда вы хотите поставить окна?
                ul
                    li(v-for="(subject, index) in subjects" v-on:click="useSubject(index)")
                        img(v-bind:src="subject.ico", alt="subject.title")
                        span {{ subject.title }}
            .question(v-if="currentSubject != null")
                ul.questions
                    li(
                        v-for="(question, index) in questions[currentSubject]"
                        v-bind:class="{ disabled: currentQuestion < index, active: currentQuestion == index }"
                        v-on:click="useQuestion(index)")
                        //- img(
                            v-bind:src="question.ico"
                            v-bind:alt="question.title")
                        .num {{ question.num }}
                h2
                    .num {{ questions[currentSubject][currentQuestion].num }}
                    .title {{ questions[currentSubject][currentQuestion].title }}
                ul.answers
                    li(
                        v-for="(answer, index) in questions[currentSubject][currentQuestion].answers"
                        v-bind:class="{ active: answer.status, dis: !questions[currentSubject][currentQuestion].next && !answer.status }")
                        label
                            input(
                                type="checkbox"
                                v-model="answer.status"
                                v-on:change="useAnswer(index)")
                            .img
                                img(
                                    v-bind:src="answer.ico"
                                    v-bind:alt="answer.title")
                            .title {{ answer.title }}
                .nextButton
                    template(v-if="currentQuestion != (questions[currentSubject].length-1)")
                        button(
                            v-bind:class="{disabled: questions[currentSubject][currentQuestion].next}"
                            v-on:click="nextQuestion") Далее
                    template(v-else)
                        button(
                            v-bind:class="{disabled: questions[currentSubject][currentQuestion].next}"
                            v-on:click="nextQuestion") Показать результаты
        .intuitive-wrap(v-if="showResult")
            .center
                .circle
            .buttons
                .button_1
                    .img
                        img(src="/images/intuitive/snow.svg", alt="Смотреть подробнее")
                    .title Смотреть подробнее
                .button_2
                    .img
                        img(src="/images/intuitive/snow.svg", alt="Добавить в сравнение")
                    .title Добавить в сравнение
                .button_3
                    .img
                        img(src="/images/intuitive/snow.svg", alt="Добавить в калькулятор")
                    .title Добавить в калькулятор
            .window(
                v-for="(window, index) in windows"
                v-bind:class="{ l: window.position == 'l', m: window.position == 'm', r: window.position == 'r' }"
                v-on:click="moveWindow(null, window.position)")
                .title
                    .num {{ window.num }}
                    .name {{ window.title }}
                .img_l
                    img(src="/images/intuitive/temp/11.png", alt="")
                .img_m
                    img(src="/images/intuitive/temp/2.png", alt="")
                .img_r
                    img(src="/images/intuitive/temp/33.png", alt="")
            .repeat(v-on:click="repeat") Начать заново
            .control
                .prev(v-on:click="moveWindow('prev')")
                    i.material-icons chevron_left
                .next(v-on:click="moveWindow('next')")
                    i.material-icons chevron_right
